@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

:root {
    /* Colors */
    --C1: #9DC08B;
    --C2: #609966;
    --C3: #333;
    --C4: #EDF1D6;
    /* Measures */
    --F35: 35px;
    --F30: 30PX;
    --F25: 25PX;
    --F20: 20px;
    --F17: 17px;
    --F15: 15px;
    --DMM: 15PX;

}

/* General */

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Ubuntu";
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease, transform 1s ease;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

.floating {
    animation: float 2s ease-in-out infinite;
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(20px);
    }
}


/* Navbar Section */

.navbar {
    background-color: var(--C3);
    padding: 0px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 1000;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5)
}

.navbar .navbar-img img {
    margin: 10px;
    width: 100px;
}

.navbar .navbar-il ul {
    margin: 0;
    display: flex;
    justify-content: center;
}

.navbar .navbar-il ul li {
    margin: 0 15px;
}

.navbar .navbar-il ul li a {
    font-size: 17px;
    color: var(--C4);
}

.fill-up {
    position: relative;
    text-decoration: none;
    color: #00aa00;
    padding: 5px 10px;
}

.fill-up::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: var(--C2);
    z-index: -1;
    transition: 0.3s ease;
}

.fill-up:hover::before {
    height: 100%;
}

.navbar-el a {
    background-color: var(--C2);
    color: var(--C4);
    font-size: 25px;
    transition: 0.3s;
}

.navbar-el a:hover {
    color: var(--C3);
    font-size: 23px;
}

@media screen and (max-width: 855px) {
    .navbar {
        display: none;
    }
}

/* Home Section */
.home {
    background-image: linear-gradient(to right, #001107, #013e1f);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    color: var(--C4);
    text-align: center;
}

.home-content {
    width: 500px;
}

.home-content p {
    color: var(--C4);
    font-size: var(--F35);
    margin: 0;
}

.home a {
    background-color: var(--C2);
    color: var(--C4);
    font-size: 30px;
    transition: 0.3s;
}

.home a:hover {
    color: var(--C3);
    font-size: 25px;
}

.home-img img {
    width: 300px;
    height: 300px;
}

@media (max-width: 799px) {
    .home-content {
        margin-top: 80px;
    }
}

@media (max-width: 490px) {
    .home-img img {
        width: 200px;
        height: 200px;
    }

    .home-content p {
        font-size: 28px;
    }

    .home a {
        font-size: 23px;
    }

    .home a:hover {
        font-size: 18px;
    }
}

/* About Section */
.about {
    background-color: var(--C4);
    color: var(--C3);
    padding: 50px 0;
    text-align: center;

}

.about-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.about-content-text {
    margin: var(--DMM);
    box-sizing: border-box;
    width: 500px;
    height: auto;
    overflow: hidden;
}

.about-content-text h1 {
    font-size: var(--F35);
}

.about-content-text p {
    font-size: var(--F20);
}

.about-content-iframe {
    margin: var(--DMM);
    border-radius: 10px;
}

.about-content-iframe iframe {
    width: 300px;
    height: 400px;
}

@media (max-width: 490px) {
    .about-content-img img {
        width: 200px;
        height: 200px;
    }

    .about-content-text h1 {
        font-size: 30px;
    }

    .about-content-text p {
        font-size: var(--F17);
    }

    .about-content-iframe iframe {
        width: 250px;
        height: 350px;
    }
}

/* Services Section */
.services {
    background-color: var(--C2);
    color: var(--C4);
    padding: 50px 0;
    text-align: center;
}

.services-content h1 {
    font-size: var(--F35);
}

.services-content-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.services-content-card {
    background-color: var(--C3);
    color: var(--C4);
    padding: 20px;
    margin: var(--DMM);
    width: 350px;
    height: auto;
    border-radius: 10px;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5)
}

.services-content-card h1 {
    font-size: var(--F25);
}

.services-content-card p {
    font-size: var(--F20);
}

@media (max-width: 490px) {
    .services-content h1 {
        font-size: var(--F30);
    }

    .services-content-card h1 {
        font-size: var(--F20);
    }

    .services-content-card p {
        font-size: var(--F17);
    }
}

/* Products Section */
.products {
    background-color: var(--C4);
    padding: 50px 0;
    text-align: center;
}

.products-content h1 {
    color: var(--C3);
    font-size: var(--F35);
}

.products-content-text p {
    color: var(--C3);
    font-size: var(--F20);
}

@media (max-width: 490px) {
    .products-content h1 {
        font-size: var(--F30);
    }

    .products-content-text p {
        font-size: var(--F17);
    }
}

/* Contact Section */
.contact {
    background-color: var(--C2);
    color: var(--C4);
    text-align: center;
    padding: 50px 0;
    display: flex;
    justify-content: center;
}

.contact-content {
    width: 460px;
}

.contact .contact-content h1 {
    font-size: var(--F35);
}

.contact .contact-content p {
    font-size: var(--F20);
}

form {
    text-align: left;
    background-color: var(--C3);
    padding: 20px;
    margin: 0 15px;
    border-radius: 10px;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

input,
textarea,
button {
    font-family: "Ubuntu";
    background-color: var(--C4);
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}



button {
    background-color: var(--C2);
    color: var(--C4);
    border-radius: 5px;
    border: 3px solid var(--C2);
    font-size: 20px;
    padding: 3px 8px;
    transition: 0.3s;
    cursor: pointer;
}

button:hover {
    background-color: var(--C1);
}

@media (max-width: 490px) {
    .contact-content {
        width: 350px;
    }

    .contact .contact-content h1 {
        font-size: var(--F30);
    }

    .contact .contact-content p {
        font-size: var(--F17);
    }
}

/* Footer */

.footer {
    background-color: var(--C3);
    color: var(--C4);
    text-align: center;
    padding: 15px 0;
}